.login {
  margin-top: 28px;

  form input[type='email'],
  form input[type='password'] {
    font-size: 16px;
    padding: $padding-base-vertical;
    height: 40px;
  }

  form button {
    padding: 0.6em 0.5em 0.6em 0.5em;
    font-size: 1.3em;
    background: $brand-primary;
    border: 0;
    color: white;
  }

  form button:hover {
    background: $button-hover-primary;
    color: $button-hover-primary-text-color;
  }

  img {
    padding-top: $padding-base-vertical;
    padding-bottom: $padding-base-vertical;
    max-height: 75px;
  }

  h1 {
    border-bottom:1px solid $border-color;
    padding-bottom: $padding-base-vertical;
  }

  .logo {
    margin-bottom: $form-group-margin-bottom
  }

  .form-control-inline {
    min-width: 0;
    width: auto;
  }

  .login-panel {
    border:1px solid $border-color;
    background-color: $panel-default-heading-bg;
    padding: 2em;
    -webkit-box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0 0 15px -7px rgba(0, 0, 0, 0.75);
    box-shadow:         0 0 15px -7px rgba(0, 0, 0, 0.75);

    label {
      font-size: 1.3em;
    }

    .footer {
      border-top: 1px solid $border-color;
      padding-top: $padding-base-vertical;

      p {
        font-size: 10pt;
      }
    }
  }
}
