#app {
  .nav {
    margin-bottom: $navbar-margin-bottom;

    .site_logo {
      width: 20%;
      display: block;
      padding: 12px;
    }
  }

  .btn {
    &.halfwidth {
      width: 48%;
    }
    &.left {
      float: left;
    }
    &.right {
      float: right
    }
  }

  .panel {
    .panel-heading {
      .panel-title {
        a {
          display: block;
          text-decoration: none;
        }
      }
    }

    &.comment {
      .panel-heading {
        position: relative;

        .right {
          position: absolute;
          right: 3px;
          top: 3px;
        }
      }
    }
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .page-title {
    border-bottom: 1px solid $border-color;
  }

  .busy{
    display:none;
  }

}