body {
  color: $text-color;
  background: $body-bg;

  .container {
    &.body {
      form {
        &.delete_form {
          display: inline;
        }
      }

      .right_col {
        background-color: $body-bg;
        border-bottom: 1px solid $border-color;

        .busy {
          display: none;
        }

        .label {
          min-width: 50px;
          display: inline-block;
        }

        .unit-input {
          max-width: 100px;
        }

        .label {
          &.ticket-status-pending {
            background-color: $brand-warning;
          }

          &.ticket-status-new {
            background-color: $brand-success;
          }

          &.ticket-status-open {
            background-color: $brand-secondary;
          }

          &.ticket-status-solved {
            background-color: $brand-success;
          }

          &.ticket-priority-normal {
            background-color: $brand-info;
          }

          &.ticket-priority-high {
            background-color: $brand-danger;
          }

          &.ticket-priority-low {
            background-color: $brand-success;
          }

          &.ticket-priority-blocker {
            background-color: $brand-warning;
          }

          a {
            color: white;
          }
        }

        .table {
          .empty-cell {
            text-align: center;
          }
        }

        .panel {
          &.comment {
            .panel-heading {
              position: relative;

              .right {
                position: absolute;
                right: 3px;
                top: 3px;
              }
            }
          }
        }

        .field-title {
          padding: 12px;
          margin: 0 0 12px;
          border-bottom: 1px solid $border-color;
        }

        .field-group {
          .field-value {
            padding: 12px;
            border: 1px solid $border-color;
            margin: 0 0 12px;
          }
        }

        .page-title {
          height: inherit;
        }
      }
    }
  }

}

.top_nav {
  .nav_menu {
    background: $body-bg;
    border-bottom: 1px solid $border-color;
  }
}

.navbar {
  &.nav_title {
    background: $brand-primary;
    border: 0;
  }

  .site_logo {
    display: inline-block;
    padding: 16px $padding-base-vertical;
    height: 100%;
  }
}

.left_col {
  background: $brand-primary;

  .profile {
    padding: 8px $padding-base-vertical;
    border-top: 1px solid $border-primary-background;
    border-bottom: 1px solid $border-primary-background;

    .profile_img {
      width: 35px;
      background: $brand-highlight;
      margin: 0;
      z-index: 1000;
      padding: 4px;
      float: left;
    }

    .profile_name {
      float: left;
      display: block;
      padding-left: 6px;
      color: $brand-highlight;
      font-size: 14px;
      font-weight: 300;
    }
  }

  .nav {
    .label {
        &.label-counter {
          position: absolute;
          right: 14px;
        }
      }


    &.side-menu {
      li.active {
        border-right: none;

        a {
          background: rgba(255, 255, 255, 0.05);
        }
      }
    }
  }
}

a#menu_toggle {
  color: $brand-primary;
}

a {
  color: $brand-secondary;
}


.btn-link {
  color: $brand-secondary;
}

.input-group {
  margin-bottom: $padding-base-vertical;
  width: 100%;
}

.user-team-edit {
  padding: $padding-base-horizontal;
  border: 1px solid $list-group-border;
  border-radius: 5px;
}
