.login {
  margin-top: 28px;

  form input[type='email'],
  form input[type='password'] {
    font-size: 16px;
    padding: 6px;
    height: 40px;
  }

  form button {
    padding: 0.6em 0.5em 0.6em 0.5em;
    font-size: 1.3em;
    background: #333333;
    border: 0;
    color: white;
  }

  form button:hover {
    background: #737373;
  }

  img {
    padding-top: 6px;
    max-height: 75px;
    padding-bottom: 6px;
  }

  h1 {
    border-bottom:1px solid #eeeeee;
    padding-bottom: 6px
  }

  .btn {
    border-radius: .4rem;
    box-shadow: 0 .2rem .1rem 0 rgba(0,0,0,.1);
    text-decoration: none;
  }

  .logo {
    margin-bottom: 12px
  }

  .form-control-inline {
    min-width: 0;
    width: auto;
  }

  .login-panel {
    border:1px solid #EEEEEE;
    background-color: #ffffff;
    padding: 2em;
    -webkit-box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0 0 15px -7px rgba(0, 0, 0, 0.75);
    box-shadow:         0 0 15px -7px rgba(0, 0, 0, 0.75);

    label {
      font-size: 1.3em;
      color: #666666;
    }
  }
}
